body
  padding: 1rem 1rem 3rem 1rem
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,\\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3,Hiragino Kaku Gothic ProN,Arial,\\30E1\30A4\30EA\30AA,Meiryo,sans-serif

  font-size: 13pt

p
  line-height: 1.75em

.text-xxlarge,h1
  font-size: 2.4rem

.text-xlarge,h2
  font-size: 1.8rem

.text-large,h3,h4,h5,h6
  font-size: 1.4rem

.text-small
  font-size: 0.8rem

.heading,h1,h2,h3,h4,h5,h6
  font-weight: 700
  letter-spacing: .06em

