body
  padding: 1rem 1rem 3rem 1rem


p
  line-height: 1.75em

.text-xxlarge
  font-size: 2.4rem

.text-xlarge
  font-size: 1.6rem

.text-large
  font-size: 1.25rem

.text-small
  font-size: 0.8rem

h1,h2,h3,h4,h5,h6,.heading
  font-weight: 700
  letter-spacing: .06em
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,\\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3,Hiragino Kaku Gothic ProN,Arial,\\30E1\30A4\30EA\30AA,Meiryo,sans-serif
