
td,th,table
  border-spacing: 2px

td,th
  border: 1px inset grey
  padding: .3em

table
  border: 1px outset grey

p
  code
    background: #eeeeee
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
    vertical-align: top
    font-size: .85em
    padding: .15em
