code[class*="language-"],
pre[class*="language-"]
  //font-size: .9rem
  //font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  font-style: normal
  white-space: pre-wrap
  word-break: break-all
