code[class*="language-"],
pre[class*="language-"]
  font-size: .85em
  //font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  font-style: normal
  line-height: 1.6em
  padding: 1em
  border-radius: 0

//code[class*="language-"]
//  white-space: pre-wrap
//  word-break: break-all

p
  code
    background: #eeeeee
    //font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
    vertical-align: middle
    font-size: .85em
    padding: .15em
